<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/intro2.ejs</title>
</head>
<body>
    <h1>gg</h1>
    <%
        response.write('<h2>Good!!</h2>');
    %>
</body>
</html>