<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <%
        let user = request.query.user;
        
        response.writeHead(200, {'Content-type':'text/html; charset=utf8'});
        response.write('<h2>Good!! 안녕</h2>');
    %>
    
        사용자 이름 : <%=user%>
        
        <% include ./index.ejs %>
</body>
</html>
   

  