<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/views/intro.ejs</title>
</head>
<body>
    <%
        response.writeHead(200, {'Content-type':'text/html;charset=utf8'});
        response.write('<h3>Welcome to 동막골</h3>');
    %>
</body>
</html>
